<div id="<%= id %>" title="<%= title %>" class="dialog-over-map">
  <div class="feed-container">
    <div>Loading...</div>
  </div>
  <div class="bottom">
    <a href="<%= url %>" class="btn btn-more">View All Alerts</a>
  </div>
</div>
