<div class="result">
  <button type="button" class="close">&times;</button> <%= word %>
  <input type="checked"
         name="w"
         style="display:none;"
         value="<%= word %>"
         checked="checked" />
</div>
