{% extends "static_page.html" %}
{% load i18n %}
{% block body_classes %}class="about"{% endblock body_classes %}

{% block main_content %}
{% block page_content %}
<div class="content about_content">
    <header id="page_header" class="page_header text-center" role="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Tobacco Watcher</h1>

                    <p class="lead">
                        The world's first digital surveillance system<br/>dedicated to informing and
                        enhancing global tobacco control.
                    </p>
                </div>
            </div>
        </div>
        <nav id="navbar-page" class="navbar-page" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="menu">
                            <li><a class="jt-scrollto menu_item menu-what_we_do" href="#what_we_do">What We Do</a></li>
                            <li><a class="jt-scrollto menu_item menu-who_we_support" href="#who_we_support">Who We
                                Support</a></li>
                            <li><a class="jt-scrollto menu_item menu-who_we_are" href="#who_we_are">Who We Are</a></li>
                            <li><a class="jt-scrollto menu_item menu-who_we_are" href="#meet_our_funders">Meet Our
                                Funders</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- /header#page_header -->
    <section id="what_we_do" class="section what_we_do">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h2>What We Do</h2>

                    <p class="lead">
                        The global tobacco control environment changes every day. In this fast paced environment,
                        Tobacco Watcher helps you to stay on top of these changes by finding, analyzing and delivering
                        the world’s tobacco-related news right to you and in real-time. With these tools, you can
                        inspect and understand current and historic trends in tobacco-related media from all over the
                        world.
                    </p>

                    <p class="lead">
                        Find out the what, where and when by reading news articles selected by scanning millions of
                        articles from tens of thousands of unique sources in twenty-three languages.
                    </p>

                    <p>
                        Operating 24/7/365, this advanced data processing platform consists of two phases.
                    </p>

                    <p>
                        First, our computers search the web to identify a vast range of potentially tobacco-related news
                        media with the help of both popular search engines and social media platforms. Constantly
                        scanning these sources, our computers examine millions of articles to find those that are
                        tobacco-related, identifying relevant articles with over ninety-nine percent accuracy using
                        sophisticated language understanding algorithms that go beyond keywords and phrases to identify
                        the core topic of each article.
                    </p>

                    <p>
                        Second, our computers sift through discovered tobacco-related news articles and organize them
                        for the tobacco control expert. Each article is analyzed to determine the center geographic
                        focus, and major subject category. All articles are automatically translated into English,
                        providing a portal to a global media landscape for the English-speaking user, while retaining
                        the original text for non-English speakers. For example, Tobacco Watcher currently classifies
                        news articles into eight subject categories (such as tobacco prices, including taxation or
                        minimum price laws) covering news describing the tobacco control landscape in eighty-two
                        nations.
                    </p>

                    <p>
                        With both phases working in tandem, Tobacco Watcher finds over 3,000 news articles each day,
                        analyzing and delivering those most relevant to tobacco control advocates, policy makers, and
                        investigators.
                    </p>

                    <p>
                        You can filter through our archives using our custom designed classifications, such as filtering
                        to only view articles that are popular on social media, or personalize your filters by searching
                        for articles using keywords or phrases, including articles not written in but translated into
                        English.
                    </p>

                    <p>
                        You can further improve your appreciation of tobacco-related media by creating personalized
                        email alerts, delivering new news to your email inbox everyday. Last, understand the broader
                        context or evaluate your tobacco control programs by plotting and analyzing daily trends in
                        tobacco-related media.
                    </p>

                    <p>
                        All this freely available and delivered in one easy to use interface, accessible on your desktop
                        or on the go from your tablet and phone.
                    </p>

                    <a href="#who_we_support" class="jt-scrollto btn-call_to_action">Learn About Who We Support</a>
                </div>
                <div class="col-lg-7">
                    <img src="/static/images/tw-infographic.png"
                         class="img-responsive illustration" alt="Infographic"/>
                </div>
            </div>
        </div>
    </section>
    <!-- /#what_we_do -->
    <section id="who_we_support" class="section who_we_support">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="/static/images/tw-wordcloud.png"
                         class="img-responsive illustration" alt="Wordcloud"/>
                </div>
                <div class="col-lg-6">
                    <h2>Who We Support</h2>

                    <p class="lead">
                        Tobacco Watcher is designed to make media monitoring easier and more effective, thereby
                        informing and improving global tobacco control.
                    </p>

                    <p>
                        Tobacco control advocates, investigators, and students spend can spend hours searching through
                        the same news articles to find tobacco-related content they care about. Tobacco Watcher now does
                        the searching for you. Moreover, by classifying tobacco-related media by content and location,
                        in twenty-three languages, you can explore far more of the tobacco control landscape than was
                        previously possible. As a result, advocates, policy makers and researchers can spend much more
                        of their time analyzing instead of searching for data.
                    </p>
                    <a href="#who_we_are" class="jt-scrollto btn-call_to_action">Find Out Who We Are</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /# who_we_support -->
    <section id="who_we_are" class="section who_we_are">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <h2>Who We Are</h2>

                    <p>
                        Tobacco Watcher was born out of the Institute for Global Tobacco Control at the Johns Hopkins
                        Bloomberg School of Public Health. Our mission is to prevent death and disease from tobacco
                        products by generating evidence to support effective tobacco control interventions through (1)
                        knowledge generation, synthesis and translation, (2) evaluation and surveillance, and (3)
                        capacity building. Tobacco Watcher elevates our efforts in all three domains complimenting our
                        other work on global tobacco focused surveillance, such as our
                        <a href="http://globaltobaccocontrol.org/tpackss/">tobacco pack surveillance system</a>.
                    </p>
                    <a href="#meet_our_funders" class="jt-scrollto btn-call_to_action">Meet Our Funders</a>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <h4 class="text-center">Joanna E. Cohen Ph.D., M.H.Sc</h4>

                    <div class="img-bio"><img src="/static/images/Joanna-E-Cohen-PhD-MH.jpg"
                                              alt="Joanna E. Cohen Ph.D., M.H.Sc" class="img-circle img-responsive"/>
                    </div>
                    <p>
                        Dr. Cohen is the Bloomberg Professor of Disease Prevention at the Johns Hopkins Bloomberg School
                        of Public Health, where she oversees studies on the implementation and evaluation of global
                        tobacco control.
                    </p>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <h4 class="text-center">John W. Ayers Ph.D., M.A.</h4>

                    <div class="img-bio">
                        <img src="/static/images/JohnAyers.jpg" alt="John Ayers"
                             class="img-circle img-responsive"/>
                    </div>
                    <p>
                        Dr. Ayers is a global leader in public health surveillance, harnessing big data with a
                        particular focus on chronic disease, health behavior and health policy outcomes, at
                        HealthWatcher Inc and San Diego State University.
                    </p>
                </div>
                <div class="col-sm-3 col-xs-12 text_center">
                    <h4 class="text-center">Mark Dredze Ph.D.</h4>

                    <div class="img-bio">
                        <img src="/static/images/Mark-Dredze-PhD.jpg" alt="Mark Dredze Ph.D."
                                              class="img-circle img-responsive"/>
                    </div>
                    <p>
                        Dr. Dredze is a professor of computer science at Johns Hopkins University. He is an
                        internationally recognized researcher with expertise in machine learning and natural language
                        processing of health-related text and social media.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /#who_we_are -->
    <section id="meet_our_funders" class="section our_funders">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2>Our Funders</h2>

                    <p class="lead">
                        Tobacco Watcher is funded by the Bloomberg Initiative to Reduce Tobacco Use through a grant to
                        the Johns Hopkins Bloomberg School of Public Health.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /#our_funders -->
    <section id="terms_of_use" class="section terms_of_use">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://www.jhsph.edu/resources/web-policies.html"><h3>Terms of Use</h3></a>
                </div>
            </div>
        </div>
    </section>
    <!-- /#terms_of_use -->
</div><!-- /.container -->
{% endblock page_content %}
{% endblock main_content %}

