include "partials/head.tmpl"

<body class="home">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<header class="wrap banner" role="banner">
    <div class="container">
        <a href="#" class="brand pull-left"></a>
        <a href="{% url 'login' %}" class="login btn btn-default pull-right">Log In</a>
        <div class="news-feed pull-right">
            <h2>Trending</h2>
            <ul id="news-ticker">
                <li>
                    <h5>Nigeria Takes on Tobacco Giants</h5>
                    <p>Nigeria's government is suing three international tobacco firms for $44bn (£22bn) - the first such case in the developing world - due to start in the capital, Abuja.</p>
                </li>
                <li>
                    <h5>Nigeria Takes on Tobacco Giants</h5>
                    <p>Nigeria's government is suing three international tobacco firms for $44bn (£22bn) - the first such case in the developing world - due to start in the capital, Abuja.</p>
                </li>
            </ul>
        </div>
    </div>
</header>

<div id="map">

    include "partials/map.tmpl"

    <div class="map-content">
        <h1>Intelligence for Tobacco Control</h1>
        <div class="box">
            <p>Welcome to Tobacco Watcher. Here you can Lorem ipsum dolor sit amet, consectetur adipcing elit. Donec vel lobortis dolor. Nulla vulptate, metus cursus facilisis dig nissim, nunc tellus. Donec vel lobortis dolor. Nulla vul ptate, metus cursus facilisis dignissim, nunc tellus.</p>
            <a href="#" class="btn btn-more explore-map">Explore Map</a>
            <a href="#" class="btn btn-more current-alerts">Current Alerts</a>
        </div>
    </div>
</div>

<div class="container" role="document">
    <div class="row">
        <section class="col-lg-12" role="main">
            <i></i>
            <a href="#" id="alerts"><h3>View Alerts by Category</h3></a>
            <div class="row categories">
                <div class="col-lg-3 category">
                    <div class="icon cat cat-a-white"><i></i></div>
                    <a href="#" class="cat-link"><h4>Prevalence</h4></a>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Aliquam porttitor commodo libero, a auctor nisi sodales non. Nullam ut erat magna. Suspend isse augue nibh, fringilla sed lobortis quis, commodo sed ante in hac hab.</p>
                        <a href="#" class="btn btn-more">View Alerts</a>
                    </div>
                </div>
                <div class="col-lg-3 category">
                    <div class="icon cat cat-b-white"><i></i></div>
                    <a href="#" class="cat-link"><h4>Smoke-Free</h4></a>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Aliquam porttitor commodo libero, a auctor nisi sodales non. Nullam ut erat magna. Suspend isse augue nibh, fringilla sed lobortis quis, commodo sed ante in hac hab.</p>
                        <a href="#" class="btn btn-more">View Alerts</a>
                    </div>
                </div>
                <div class="col-lg-3 category">
                    <div class="icon cat cat-c-white"><i></i></div>
                    <a href="#" class="cat-link"><h4>Quitting</h4></a>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Aliquam porttitor commodo libero, a auctor nisi sodales non. Nullam ut erat magna. Suspend isse augue nibh, fringilla sed lobortis quis, commodo sed ante in hac hab.</p>
                        <a href="#" class="btn btn-more">View Alerts</a>
                    </div>
                </div>
                <div class="col-lg-3 category">
                    <div class="icon cat cat-d-white"><i></i></div>
                    <a href="#" class="cat-link"><h4>Warnings</h4></a>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Aliquam porttitor commodo libero, a auctor nisi sodales non. Nullam ut erat magna. Suspend isse augue nibh, fringilla sed lobortis quis, commodo sed ante in hac hab.</p>
                        <a href="#" class="btn btn-more">View Alerts</a>
                    </div>
                </div>
                <div class="col-lg-3 category">
                    <div class="icon cat cat-e-white"><i></i></div>
                    <a href="#" class="cat-link"><h4>Advertising</h4></a>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Aliquam porttitor commodo libero, a auctor nisi sodales non. Nullam ut erat magna. Suspend isse augue nibh, fringilla sed lobortis quis, commodo sed ante in hac hab.</p>
                        <a href="#" class="btn btn-more">View Alerts</a>
                    </div>
                </div>
                <div class="col-lg-3 category">
                    <div class="icon cat cat-f-white"><i></i></div>
                    <a href="#" class="cat-link"><h4>Prices</h4></a>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Aliquam porttitor commodo libero, a auctor nisi sodales non. Nullam ut erat magna. Suspend isse augue nibh, fringilla sed lobortis quis, commodo sed ante in hac hab.</p>
                        <a href="#" class="btn btn-more">View Alerts</a>
                    </div>
                </div>
                <div class="col-lg-3 category">
                    <div class="icon cat cat-g-white"><i></i></div>
                    <a href="#" class="cat-link"><h4>Products</h4></a>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Aliquam porttitor commodo libero, a auctor nisi sodales non. Nullam ut erat magna. Suspend isse augue nibh, fringilla sed lobortis quis, commodo sed ante in hac hab.</p>
                        <a href="#" class="btn btn-more">View Alerts</a>
                    </div>
                </div>
                <div class="col-lg-3 category">
                    <div class="icon cat cat-h-white"><i></i></div>
                    <a href="#" class="cat-link"><h4>Industry</h4></a>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Aliquam porttitor commodo libero, a auctor nisi sodales non. Nullam ut erat magna. Suspend isse augue nibh, fringilla sed lobortis quis, commodo sed ante in hac hab.</p>
                        <a href="#" class="btn btn-more">View Alerts</a>
                    </div>
                </div>
            </div>
        </section>
    </div> <!-- .row -->
</div> <!-- .container -->

<footer class="contentinfo" role="contentinfo">
        <div class="row">
            <div class="col-lg-8 left">
                <div id="search">
                    <form action="" class="footer-search">
                        <input type="search" name="search" class="form-control input-lg" placeholder="Search">
                        <button type="submit" class="glyphicon glyphicon-search submit"></button>
                    </form>
                </div>
                <nav>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Legal</a></li>
                    </ul>
                </nav>
                <div class="social">
                    <div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-width="80" data-layout="button_count" data-show-faces="false" data-send="false"></div>
                    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
                <p id="copyright">&copy; 2013 Tobacco Watcher</p>
            </div>
            <div class="col-lg-4 right">
                <p class="partners">In Partnership With</p>
                <img src="/static/images/partners.png" alt="Partners">
            </div>
        </div>
</footer>

<div id="dialog" title="map">

    <div class="feed-container">

        <section class="article-feed">
            <a href="#" class="section-title">
                <span>Country Name</span>
            </a>
            <article>
                <div class="icon cat cat-b-white"><i></i></div>
                <span class="title">Tobacco Giant 'Breaks Youth Code'</span>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantiu...</p>
            </article>
            <article>
                <div class="icon cat cat-c-white"><i></i></div>
                <span class="title">Lorem Ipsum Dolor Sit</span>
                <p>Doloremque laudantium, totam rem aperam  quia dolor sit amet, consectetur adipisci... </p>
            </article>
        </section>

        <section class="article-feed">
            <a href="#" class="section-title">
                <span>Country Name</span>
            </a>
            <article>
                <div class="icon cat cat-b-white"><i></i></div>
                <span class="title">Tobacco Giant 'Breaks Youth Code'</span>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantiu...</p>
            </article>
            <article>
                <div class="icon cat cat-c-white"><i></i></div>
                <span class="title">Lorem Ipsum Dolor Sit</span>
                <p>Doloremque laudantium, totam rem aperam  quia dolor sit amet, consectetur adipisci... </p>
            </article>
        </section>

        <section class="article-feed">
            <a href="#" class="section-title">
                <span>Country Name</span>
            </a>
            <article>
                <div class="icon cat cat-b-white"><i></i></div>
                <span class="title">Tobacco Giant 'Breaks Youth Code'</span>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantiu...</p>
            </article>
            <article>
                <div class="icon cat cat-c-white"><i></i></div>
                <span class="title">Lorem Ipsum Dolor Sit</span>
                <p>Doloremque laudantium, totam rem aperam  quia dolor sit amet, consectetur adipisci... </p>
            </article>
        </section>

    </div>

    <div class="bottom">
        <a href="#" class="btn btn-more">View All Alerts</a>
    </div>
</div>

include "partials/footer.tmpl"