.icon-about { background-image: url('png/about.png'); background-repeat: no-repeat; }

.icon-alert-mine { background-image: url('png/alert-mine.png'); background-repeat: no-repeat; }

.icon-alert-reccomended { background-image: url('png/alert-reccomended.png'); background-repeat: no-repeat; }

.icon-alert-shared { background-image: url('png/alert-shared.png'); background-repeat: no-repeat; }

.icon-analyses { background-image: url('png/analyses.png'); background-repeat: no-repeat; }

.icon-articles { background-image: url('png/articles.png'); background-repeat: no-repeat; }

.icon-calendar { background-image: url('png/calendar.png'); background-repeat: no-repeat; }

.icon-cancel { background-image: url('png/cancel.png'); background-repeat: no-repeat; }

.icon-category { background-image: url('png/category.png'); background-repeat: no-repeat; }

.icon-check { background-image: url('png/check.png'); background-repeat: no-repeat; }

.icon-delete { background-image: url('png/delete.png'); background-repeat: no-repeat; }

.icon-edit { background-image: url('png/edit.png'); background-repeat: no-repeat; }

.icon-feedback { background-image: url('png/feedback.png'); background-repeat: no-repeat; }

.icon-frequency { background-image: url('png/frequency.png'); background-repeat: no-repeat; }

.icon-languages { background-image: url('png/languages.png'); background-repeat: no-repeat; }

.icon-link { background-image: url('png/link.png'); background-repeat: no-repeat; }

.icon-location { background-image: url('png/location.png'); background-repeat: no-repeat; }

.icon-logout { background-image: url('png/logout.png'); background-repeat: no-repeat; }

.icon-profile { background-image: url('png/profile.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-settings { background-image: url('png/settings.png'); background-repeat: no-repeat; }

.icon-share { background-image: url('png/share.png'); background-repeat: no-repeat; }

.icon-timeframe { background-image: url('png/timeframe.png'); background-repeat: no-repeat; }

.icon-view-more { background-image: url('png/view-more.png'); background-repeat: no-repeat; }

