<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tobacco Watcher Dashboard</title>
    <meta name="description" content="">
    <!-- <meta name="viewport" content="width=device-width"> -->
    <meta name="viewport" content="width=1200">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- Google Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery.ui.core.css">
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery.ui.accordion.css">
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery.ui.dialog.css">
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery.ui.slider.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../scripts/vendor/modernizr.custom.js"></script>
    <!-- endbuild -->

    <!--[if lte IE 8]>
    <script src="bower_components/respond/respond.min.js"></script>
    <![endif]-->

</head>