/*******************************************************
 ** Footer area
********************************************************/

.contentinfo {
    background-color: #7c111e;
    padding: 30px 0;
    img {
        margin: 10px 0 0;
    }
}

