$font-main: 'Arial', sans-serif;
$font-secondary: 'Helvetica Neue', Helvetica, $font-main;
$font-special: 'Oswald', $font-main;

$z-index-1: 1 * 1000;
$z-index-2: 2 * 1000;
$z-index-3: 3 * 1000;
$z-index-4: 4 * 1000;
$z-index-5: 5 * 1000;
$z-index-6: 6 * 1000;
$z-index-7: 7 * 1000;
$z-index-8: 8 * 1000;
$z-index-9: 9 * 1000;
