{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block main_content %}
  <div class="container" role="document">
    <div class="row">
      {% if validlink %}
        <h3>{% trans 'Enter new password' %}</h3>

        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        {% if form.new_password1.errors or form.new_password2.errors %}
          <p><strong>{% trans "The two password fields didn't match." %}</strong></p>
        {% endif %}

        <form action="" method="post">{% csrf_token %}
          <div class="form-group">
            <div class="row">
              <div class="col-xs-4">
                <label for="password1">{% trans 'New password:' %}</label>
                <input type="password" id="password1" name="new_password1" placeholder="password" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-4">
                <label for="password2">{% trans 'Confirm password:' %}</label>
                <input type="password" name="new_password2" id="password2" placeholder="password" class="form-control">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-default">{% trans 'Change my password' %}</button>
        </form>
      {% else %}
        <h3>{% trans 'Password reset unsuccessful' %}</h3>

        <p>
          {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
